captum==0.9.0
lime==0.2.0.1
matplotlib==3.10.8
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
PyYAML==6.0.3
scikit_learn==1.8.0
scipy==1.17.1
skimage==0.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
transformers==5.6.2
